<div class="container">
   <div class="row">
        <div class="col-xs-3">
		  <%= render 'admin/users/sidebar' %>
        </div>


		<div class="col-xs-9">
		  <h1>adminレビュー一覧 (新着順)</h1>

		    <table>
		     <thead>
		      <tr>
	           <th><h3>CDタイトル</h3></th>
	           <th><h3>投稿者</h3></th>
	           <th><h3>投稿内容</h3></th>
	           <th><h3>投稿日時</h3></th>
	          </tr>
	        </thead>

	        </table>

		</div>
    </div>
</div>
