<div class="container">
   <div class="row">
        <div class="col-xs-3">
		  <%= render 'admin/users/sidebar' %>
        </div>


		<div class="col-xs-9">
		  <h1>adminレビュー一覧</h1>
		</div>
    </div>
</div>
