<div class="container">
   <div class="row">
        <div class="col-xs-3">
		  <%= render 'admin/users/sidebar' %>
        </div>


		<div class="col-xs-9">
		  <h1>admin受注一覧</h1>
		   <h3 class="pull-right">表示数1~10件</h3>
		    <script type="text/javascript">
               $(function() {
                $('h3').css('color','lime');
               });
             </script>

		</div>
    </div>
</div>

<div class="pagiWrapper">
  <%= paginate @orders %>
</div>
